body {
    margin: 0 auto;
    width: 650px;
    border: 4px dotted darkblue;
}

form label {
    display: inline-block;
    text-align: right;
    width: 20%;
    margin-right: 1.5em;
}

input[type=text] {
    margin-bottom: 1em;
}

h1 {
    text-align: center;
}

h1, form label, form button, form input, form span {
    font-family: 'Indie Flower', cursive;
}

form button {
    padding: .5em;
    margin-left: 50%;
    margin-top: 1em;
    border-radius: .3em;
    background-color: darkgray;
    color: rgba(144, 79, 248, 0.986);
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

form span {
    color: red;
}

@media only screen and (max-width: 600px) {
    form label {
        text-align: left;
        width: 100%;
    }

    form button {
        margin-left: 0%;
    }
}